@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.main{
    height: 75vh;
    background-image: url( https://raw.githubusercontent.com/thatanjan/netflix-clone-yt/youtube/media/banner.jpg);
    position: relative;
    /* background-position: center center; */
    background-repeat: no-repeat;
    
    
}
.boxx{
    height: 75vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height: 112px;
}
 nav img{
    color: red;
    width: 112px;
    position: relative;
    z-index: 10;
    color: red;
    
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height: calc(100%-62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 22px;
    position: relative;
    font-family: "Noto Sans", sans-serif;
    padding: 29px;

}
.hero> :first-child{
    font-weight: bold;
    font-size: 48px;
}
.hero> :nth-child(2){
    font-weight: 400;
  font-size: 24px;  
}
.hero> :nth-child(3){
    font-weight: 400;
  font-size: 20px;  
}
body{
    background-color: black;
}
.line{
    height: 5px;
    background-color: rgb(37, 37, 38);
}
.btn{
    padding: 2px 8px;
    background-color: white;
    font-weight: bold;
    
}
.btn-red{
    background-color: red;
    color: white;
    
}
.btn-red-sm{
    background-color: red;
    color: white;
}
.red{
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 4px;
}
.main input{
    padding: 8px 80px 18px 5px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(22, 22, 22, 0.4);
    border: 1px solid rgba(246, 248, 248, 0.7);
    color: white;
    caret-color: red;
    
}
.buss{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.button{
    cursor: pointer;
}
.first{
    display: flex;
    margin: auto;
    justify-content: center;
    max-width: 70vw;
    color: white;
    align-items: center;
}
.secimg img{
    width: 30vw;
    position: relative;
    z-index: 10;
}
.secimg{
    position: relative;
    
}
.secimg video{
        position: absolute;
        top: 62px;
        right: 54px;
        width: 22vw;
}




.first  div :first-child{
    font-size: 48px;
    font-weight: bolder;
}
.first  div :nth-child(2){
    font-size: 24px;
    font-weight: bolder;
}
.div{
    display: flex;
}
.faq{
    font-size: 48px;
    font-weight: bolder;
}
/* .newvideo{
    
} */
.third video{
    top: 22px;
    right: 69px;
    width: 20vw;
}